{% extends "blogbase.html" %}
{%- block seo %}
  {{- super() }}
  {%- set title = "Posts" %}

  {%- if config.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_head::seo(config=config, title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
{%- set section_item = get_section(path="blog/_index.md") %}
    <div>
        {%- for  ps in section_item.subsections %}
            {%- if ps is defined -%}
                {%- set si = get_section(path=ps) %}
                <p><a href="{{ si.permalink | safe() }}">{{ si.title }}</a>{%- if si.author is defined -%} by {{ si.author }}{%- endif -%}
                </p>
            {%- endif -%}
        {%- endfor %}
    </div>
{%- endblock content %}
